<div class="cSimpleNote">
  <div class="cUpperPartNote">
    <p class="cFontTitleNote">{{name}}</p>  
  </div>
  <div class="cContentePartNote">
    <p class="cFontContentNote">{{content}}</p>
  </div>
  <div class="cLowerPartNOte">
    <li class="cListButtonsNote">
      <img type='button'src="/assets/img/saveNotethird.png" alt="">
      <img type='button'src="/assets/img/editNotethird.png" alt="">
      <img type='button' src='/assets/img/deleteNotethird.png' alt=''>
    </li>
  </div>   

</div>