<h2>Notas</h2>


<div class="cSimpleNote">
  <div class="cUpperPartNote">
    <p class="cFontTitleNote">{{name}}</p>  
  </div>
  <div class="cContentePartNote">
    <p class="cFontContentNote">{{content}}</p>
  </div>
  <div class="cLowerPartNOte">
    <li class="cListButtonsNote">
      <button class="cButtonOnNote">
        <p >Save</p>
      </button>
      <button class="cButtonOnNote">
        <p>Edit</p>
      </button>
      <button class="cButtonOnNote">
        <p>Delete</p>
      </button>
    </li>
  </div>   

</div>