:root {
  --main-bg-color: brown;
  --background-cards: rgb(236, 233, 217);
  --red-burger: rgb(224, 22, 22);
}

*{
  margin: 0;
  padding: 0;
}

.cSimpleNote{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(214, 214, 144);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.cUpperPartNote{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.cUpperPartNote input{
background: none;
border: none;
}

.cContentePartNote{
  width: 90%;
  height: 60%;
  margin: 5%;
}

.cContentePartNote textarea{
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

.cLowerPartNOte{
  margin-bottom: 5%;
}

.cFontTitleNote{
  font-size: 2.5em;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bold;
  width: 90%;
}

.cFontContentNote{
  font-size: 2em;
}


.cListButtonsNote{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.cButtonOnNote{
  padding: 0% 5% 0% 5%;
}

img{
  width: 30px;
}