
<app-upper-bar></app-upper-bar>

<div class='cPageLogin'>

    <form class= 'cFormLogin'>
        <h2>Login</h2>
         <div class='cdivInputs'>
            <p class="cText">User / Email</p>
            <input type="text" name='email' placeholder="user@labnotes.com" [(ngModel)]="email">
        </div>
        <div class='cdivInputs'>
            <p class="cText">Password</p>
            <input type="text" name='password' placeholder="Minimum 8 letters" [(ngModel)]="password" >
        </div>

        <div><p class='cAlert'>{{alert}}</p></div>

        <div class="divBtn">
            <button (click)="fnMakeLogin( $event )">OK</button>
            <button (click)="fnGoRegister()">Register</button>
        </div>
        
        <div class="cdivlogito">
           <img src='assets/img/logo.png' alt=""> 
        </div>
        
    </form>

</div>
