<app-upper-bar></app-upper-bar>

<div class="cDivPage">
  
  <main>
    <section class="cScreenNotes" *ngIf="userState.log">
     <app-template-list-notes 
     *ngFor="let note of notes" 
     [title]='note.title'
     [content]='note.content'
     [status]='note.edited == undefined ? "Created" : "Edited"'
     [date]='note.date'>
    </app-template-list-notes>
    </section>
    <section class="cScreenNote" *ngIf="userState.log">
      <app-note></app-note>
    </section>
    
    <!--<app-log-in *ngIf="!userState.log" (logIn)="fnReenviarLogin( $event )"></app-log-in>-->
  </main>
  <footer>

  </footer>
</div>
