.cTemplateLN{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: solid;
    background-color: #8d8c8c;
    overflow-y: scroll;
    scrollbar-track-color: blue;
}

h3{
    margin-left: 10px;
}

.cContent{
    font-style: italic;
    text-decoration: underline;
    margin-left: 5px;
}

.cDate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}